/* FONTS */
/* --------------------------------------------------------------------------------------------------------- */
@font-face{
    font-family: Satoshi-Regular;
    src: url(../fonts/SatoshiVariable/Satoshi-Regular.otf);
}

@font-face{
    font-family: Satoshi-Medium;
    src: url(../fonts/SatoshiVariable/Satoshi-Medium.otf);
}

@font-face{
    font-family: Satoshi-Bold;
    src: url(../fonts/SatoshiVariable/Satoshi-Bold.otf);
}

@font-face{
    font-family: Satoshi-Black;
    src: url(../fonts/SatoshiVariable/Satoshi-Black.otf);
}


/* ---------------------------------------------------------------------------------------------------------- */
body{
    font-family: Satoshi-Regular;
    /* font-size: 24px; */
    background-color: #E4ECF3;
    height: 100%;
}

a, a:visited{
    text-decoration: none;
    margin: -2px 0;
}

/* ANIMATIONS */
/* ---------------------------------------------------------------------------------------------------------- */
/* Fade Animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.4s;
    animation-name: fade;
    animation-duration: 2.4s;
}

@-webkit-keyframes fade {
    from {opacity: .7}
    to{opacity: 2;}
}

@keyframes fade {
    from {opacity: .5;}
    to{opacity: 2;}
}

/* Scale Animation */
.scale{
    -webkit-animation-name: scale;
    -webkit-animation-duration: 2.4s;
    animation-name: scale;
    animation-duration: 10s;
}

@-webkit-keyframes scale {
    from {transform: scale(1)}
    to{transform: scale(1.3);}
}

@keyframes scale {
    from {transform: scale(1)}
    to{transform: scale(1.3);}
}

/* SCROLLBAR */
/* ---------------------------------------------------------------------------------------------------------- */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4c2c2;
    border-radius: 50px;
    padding-left: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/* LOGIN SECTION */
/* ----------------------------------------------------------------------------------------------------------*/


/* Slideshow container */
.carouselContainer{
    min-width: 102.56662%;
    background-size: cover !important;
    margin-top: -4%;
    margin-left: -2%;
    margin-bottom: -100%;
    padding-bottom: -200%;
    position: fixed;
    z-index: -1;
}

/* Individual Slides */
.containers{
    display: none;
}

/* dots for simplistic navigation */
.dots{
    cursor: pointer;
    height: 16px;
    width: 17px;
    margin-top: 4%;
    margin-bottom: -10%;
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable, .dots:hover{
    background-color: rgba(0, 0, 0, 0.50);
}


/* Login Card */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    z-index: -1;
    width: 300px;
    height: fit-content;
    float: right;
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: -20%;
    font-size: 18px;
}

.login-card{
    padding-top: 1.8%;
}

.login-header{
    color: #000;
    text-align: center;
    font-family: Satoshi-Black;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 5px 0 0 0;
}

.login-logo{
    width: 100px;
    height: 100px;
    z-index: 1;
    padding-left: 73.6%;
    margin-bottom: -8%;
    position: relative;
    transition: ease-in 0.2s;
}

/* FORMS AND INPUTS */
/* ------------------------------------------------------------------------------------------------------------- */
.input{
    width: 300px;
    height: 50px;
    margin: 1%;
    text-align: center;
    font-family: Satoshi-Medium;
    font-size: 16px;
    border-radius: 9px;
    background-color: rgba(104, 104, 104, 0.171);
    border: none;
}

.form-input{
    width: 58%;
    height: 50%;
    font-size: 16px;
    padding: 10px;
    font-family: Satoshi-Medium;
    margin: 10px 0;
    border: solid 1px #898A8D;
    border-radius: 4px;
    text-align: center;
}

.input-title{
    text-align: left !important;
    
}

::placeholder {
    color: rgba(0, 0, 0, 0.17) !important;
}

label{
    margin-top: 20px !important;
}

.forgot-password-link{
    color: rgba(0, 0, 0, 0.40);
    font-family: Satoshi-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration: none;
    transition: 0.2s;
    /* padding-top: 36px; */
}

.forgot-password-link:hover{
    color: rgb(0, 0, 0);
    font-family: Satoshi-Bold;
}

.login-button{
    width: 300px;
    height: 50px;
    border-radius: 9px;
    margin: 10px;
    font-size: 20px;
    font-family: Satoshi-Bold;
    color: #ffffff;
    background-color: #2573B5;
    letter-spacing: 1px;
    border-style: none;
    transition: 0.2s;
}

.login-button:hover{
    color: #ffffff;
    background-color: #0b528b;
}

/* SIGNUP SECTION */
/* -------------------------------------------------------------------------------------------------------------*/

.credentials-link{
    color: rgba(0, 0, 0, 0.40);
    font-family: Satoshi-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-decoration: none;
    transition: 0.2s;
}

.credentials-link:hover{
    color: rgb(0, 0, 0);
    font-family: Satoshi-Bold;
}

.signup-button{
    width: 300px;
    height: 50px;
    border-radius: 9px;
    margin: 10px;
    font-size: 20px;
    font-family: Satoshi-Bold;
    color: #ffffff;
    background-color: #2573B5;
    letter-spacing: 0px;
    border-style: none;
    transition: 0.2s;
}

.signup-button:hover{
    color: #ffffff;
    background-color: #0b528b;
}

.signup-background{
    background-size: cover;
    min-width: 102.56662%;
    background-size: cover !important;
    margin-top: -4%;
    margin-left: -2%;
    margin-bottom: -100%;
    padding-bottom: -200%;
    position: fixed;
    z-index: -1;
    filter: blur(4px);
}

.signUpCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2%;
    padding-top: 5%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    z-index: -1;
    width: 542px;
    height: fit-content;
    margin-top: 50px;
    margin-left: 29%;
    margin-bottom: 1%;
    font-size: 14px;
}

.signUpLogo{
    width: 100px;
    height: 100px;
    z-index: 1;
    padding-left: 47%;
    position: absolute;
    margin-top: -30px;
}


/* SUGGESTED USERNAMES */
/* -------------------------------------------------------------------------------------------------------------*/
/* 
.suggestedUsernames{
    padding: 10px 0;
} */

.suggested-name{
    font-size: 12px;
    padding: 3px;
    padding-bottom: 5px;
    color: #378ace;
    transition: 0.2s ease;
    font-weight: 600;
    cursor: pointer;
    font-family: Satoshi-Regular;
    opacity: 100%;
}

.suggested-name:hover{
    color: #0b528b;
}


/* DASHBOARD */
/* ----------------------------------------------------------------------------------------------------------- */

/* Side Navigation */
/* ---------------------------------------------------------------------------------------------------------- */
.sidenav{
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    padding-top: 20px;
}

.sidenav-logo{
    height: 80px;
    display: block;
    padding-left: 20px;
}

.sidenav-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    transition: ease 0.5s;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    cursor: pointer;
}

.sidenav-button:hover{
    background: #898a8d5e;
}

.sidenav-icon{
    width: 20px;
    height: 20px;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
    /* margin: 18px 0 6px 0; */
}

.sidenav-text{
    font-size: 16px;
    margin: -1px 0 0 0;
    padding: 0 0 0 8px;
    font-family: Satoshi-Medium;
    color: #374957;
    cursor: pointer;
}

.logout-button{
    margin-top: 140px;
    background-color: #F0F0F0;
    margin-left: 30px;
    margin-right: 30px;
    padding: 14px 0 14px 40px;
    transition: ease 0.5s;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    border-radius: 8px;
    cursor: pointer;
}

.logout-button:hover{
    background-color: #c2c2c2;
}

/* MAIN PAGE */
/* ---------------------------------------------------------------------------------------------------------- */
.main{
    margin-left: 260px;
    padding: 10px 0 0 0;
}

.title{
    font-size: 28px;
    font-family: Satoshi-Bold;
    letter-spacing: -1px;
    padding-top: 10px;
    display: inline;
    vertical-align: middle;
    color: #374957;
}

.talkToAgent{
    float: right;
    padding: 6px 24px 0 0;
    margin: 0 0 0 10px;
    font-family: Satoshi-Medium;
    letter-spacing: -1px;
    color: #374957;
    font-size: 18px;
    transition: 0.2s ease;
    cursor: pointer;
}

.talkToAgent-icon{
    width: 18px;
    height: 18px;
    display: inline;
    vertical-align: middle;
    cursor: pointer;
}

/* DASHBOARD */
/* ---------------------------------------------------------------------------------------------------------- */
.jumbotron{
    background-color: #00457A;
    padding: 30px;
    color: #FFFFFF;
    margin: 36px 24px 30px 0;
    border-radius: 8px;
    text-align: center;
    display: flex;
    font-family: Satoshi-Regular;
}

.jumbotron-left{
    flex: 1;
    display: grid;
    text-align: left;
    position: relative;
}

.jumbotron-right{
    flex: 1;
    float: right;
    justify-content: end;
    align-items: center;    
    /* padding: 20px; */
}

.salutation{
    /* position: absolute; */
    top: 0;
    left: 0;
}

#greeting, #firstname{
    font-size: 28px;
    font-family: Satoshi-Bold;
}

#username{
    font-size: 18px;
    color: #FFFFFF7F;
}

.balance-title{
    font-size: 16px;
    font-family: Satoshi-Regular;
    color: #FFFFFF7F;
}

.balance{
    /* position: absolute; */
    bottom: 0;
    left: 0;
    margin: 100px 0 0 0 ;
    font-family: Satoshi-Bold;
    font-size: 28px;
}

.dashboard:hover{
    background-color: #055496;
}

.welcomeUser{
    font-family: RocGrotesk-Bold;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 48px !important;
}

#dashboardUsername{
    font-size: 24px;
    color: #ffffff6b;
    line-height: 0;
    margin-top: 15px;
}

/* ACCOUNT NUMBER AND OTHER INFO */
/* ---------------------------------------------------------------------------------------------------------- */
.account-info{
    background-color: #02182c;
    padding: 30px;
    margin-left: 38%;
    justify-content: right;
    align-items: center;
    display: flex;
    border-radius: 8px;
    width: 50%;
    height: 5%;
}

.account-text{
    padding: 20px;
    text-align: end;
}

.accnumber-title{
    font-size: 12px;
    font-family: Satoshi-Regular;
    color: #FFFFFF7F;
}

#account-number{
    font-family: Satoshi-Bold;
    font-size: 22px;
}

.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/* TRANSFER */
/* ---------------------------------------------------------------------------------------------------------- */
.transfer{
    background-color: #FFFFFF;
    padding: 80px;
    color: #374957;
    margin: 32px 24px 10px 0;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


#initialize-transfer{
    width: 60%;
    padding: 12px 90px;
    background-color: #00457A;
    border-style: none;
    font-family: Satoshi-Bold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
}


/* TRANSFER */
/* ---------------------------------------------------------------------------------------------------------- */
.deposit{
    background-color: #FFFFFF;
    padding: 80px;
    color: #374957;
    margin: 32px 24px 10px 0;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}


#initialize-deposit{
    width: 60%;
    padding: 12px 90px;
    background-color: #00457A;
    border-style: none;
    font-family: Satoshi-Bold;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
}


/* TRANSACTION HISTORY */
/* ---------------------------------------------------------------------------------------------------------------*/
.acc-info{
    background-color: #00457A;
    padding: 80px;
    color: #FFFFFF;
    margin: 36px 24px 10px 0;
    border-radius: 8px;
    text-align: center;
}

.acc-number{
    font-size: 28px;
}

#acc-balance{
    font-size: 48px;
    font-family: Satoshi-Black;
}

#txn-history{
    background-color: #FFFFFF;
    padding: 80px;
    color: #374957;
    margin: 32px 24px 10px 0;
    border-radius: 8px;
    text-align: center; 
    display: grid;
    place-items: center;
}

#txn-history-container{
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 0 150px;
}

#recent-txn-history-container{
    width: 100%;
    box-sizing: border-box;
    /* padding: 0 0 0 5px; */
}


/* Dashboard Recent Transactions Cards */
.recent-txn-card{
    margin: 20px 0;
    background: #37495723;
    width: 96%;
    text-align: center;
    display: flex;
    border-radius: 12px;
    padding: 5px;
}

/* Transactions History Cards */
.txn-card{
    margin: 30px 0;
    background: #37495723;
    width: 81%;
    text-align: center;
    display: flex;
    border-radius: 12px;
    padding: 10px;
}

.txn-card-right{
    flex: 1;
    float: right;
    justify-content: end;
    align-items: center;    
    padding: 20px;
    display: flex; 
}

.txn-card-left{
    flex: 1;
    display: grid;
    text-align: left;
    padding: 20px;
}

#date-of-txn{
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

#txn-account-name{
    font-family: Satoshi-Bold;
    font-size: 18px;
}

.horizontal{
    display: flex;
}

#txn-username{
    padding: 0 5px 0 0;
}

#txn-account-number{
    color: #2573B5;
    font-family: Satoshi-Black;
}

#txn-amount{
    font-family: Satoshi-Black;
    padding: 0 10px;
}

#txn-type-credit{
    background-color: #3AB86C;
    padding: 8px;
    margin: 0 6px 0 12px;
    text-transform: uppercase;
    font-family: Satoshi-Bold;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 10px;
}

#txn-type-debit{
    background-color: #E14942;
    padding: 8px;
    margin: 0 4px;
    text-transform: uppercase;
    font-family: Satoshi-Bold;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 10px;
}

.date-range-container{
    width: fit-content;
    border-radius: 8px;
    /* padding: 30px; */
    background-color: #898A8D23;
    display: flex;
    flex-direction: row;
}

.date-range-options{
    padding: 20px 32px;
    text-align: center;
    align-items: center;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.date-range-options:hover{
    background-color: #374957;
    color: #FFFFFF;
    border-radius: 4px;
}

.date-active{
    background-color: #374957;
    color: #FFFFFF;
    border-radius: 4px;
}

.txn-history-functions{
    margin: 3px 0  30px 0;
    width: 100%;
}

#start-date, #end-date{
    width: 19%;
    padding: 12px;
    font-family: Satoshi-Medium;
    border: solid 1px #3749578f;
    color: #374957;
}

.date-button{
    background-color: #0b528b;
    color: #FFFFFF;
    font-family: Satoshi-Medium;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.date-button:hover{
    background-color: #023661;
}

.pdf-button{
    background-color: #e6534b;
    color: #FFFFFF;
    font-family: Satoshi-Medium;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.pdf-button:hover{
    background-color: #bb2921;
}

.xls-button{
    background-color: #3AB86C;
    color: #FFFFFF;
    font-family: Satoshi-Medium;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.xls-button:hover{
    background-color: #25a558;
}


/* SETTINGS */

.setting-options{
    margin: 40px 0;
}

.setting-options-title{
    color: #374957;
    font-family: Satoshi-Black;
    letter-spacing: -1px;
    /* padding: 0 0 0 20px; */
}

.setting-options-pic{
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
}

.setting-options-pic-btn{
    margin: 0 0 0 20px;
}

.setting-options-btn{
    background-color: #374957;
    color: #FFFFFF;
    font-family: Satoshi-Medium;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.setting-options-btn:hover{
    background-color: #16222b;
}

.change-pic{
    background-color: #374957;
    color: #FFFFFF;
    font-family: Satoshi-Medium;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.change-pic:hover{
    background-color: #16222b;
}

.remove-pic{
    background-color: #c4020200;
    border: solid 2px #E14942;
    color: #E14942;
    font-family: Satoshi-Medium;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease;
}

.remove-pic:hover{
    background-color: #E14942;
    color: #FFFFFF;
}


.user-settings-img{
    width: 120px;
    border-radius: 50%;
}

#securityqa-btn{
    /* width: 900px; */
    height: 50px;
    border-radius: 9px;
    /* margin: 50px; */
    font-size: 18px;
    font-family: Satoshi-Bold;
    color: #ffffff;
    background-color: #2573B5;
    letter-spacing: 0px;
    border-style: none;
    transition: 0.2s;
    padding: 15px 50px;
    /* align-items: center; */
    /* margin-left: 2449px; */
}

.securityqa-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2%;
    padding-top: 5%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    z-index: -1;
    width: 542px;
    height: fit-content;
    margin-top: 50px;
    margin-left: 29%;
    margin-bottom: 1%;
    font-size: 14px;
}

#security-question{
    font-size: 18px;
    font-style: none;
    padding: 0px 40px;
}